{% extends 'base.html' %} {% block title %} KPI Page {% endblock %} {% block
content %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light">Query KPI /</span>
      Table
    </h4>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <h5 class="card-header">Filter</h5>
          <div class="card-body">
            <div class="demo-inline-spacing">
              <form id="filter" action="/get_data" , method="POST">
                <div class="mt-2 mb-3 btn-group">
                  <label for="countrySelect" class="form-label"
                    >Select country:
                  </label>
                  <select id="countrySelect" class="form-select form-select-sm">
                    <option value="" selected="selected">Select country</option>
                  </select>
                </div>
                <div class="mt-2 mb-3 btn-group">
                  <label for="templateSelect" class="form-label"
                    >Select template:
                  </label>
                  <select
                    id="templateSelect"
                    class="form-select form-select-sm"
                  >
                    <option value="" selected="selected">
                      Select tempalte
                    </option>
                  </select>
                </div>
                <div class="mt-2 mb-3 btn-group">
                  <label for="templateSelect" class="form-label"
                    >Select period:
                  </label>
                  <select
                    id="periodSelect"
                    class="form-select form-select-sm"
                    name="periodSelect"
                  >
                    <option value="" selected="selected">Select period</option>
                  </select>
                </div>
                <div class="mb-3 row">
                  <label
                    for="html5-datetime-local-input"
                    class="col-md-2 col-form-label"
                    >Start Datetime</label
                  >
                  <div class="col-md-10">
                    <input
                      class="form-control"
                      type="datetime-local"
                      id="html5-datetime-local-input"
                      name="datetime_input"
                    />
                  </div>
                </div>
                <div class="mt-2 mb-3 btn-group">
                  <button
                    type="button"
                    class="btn btn-dark"
                    onclick="return updateTable()"
                  >
                    Query
                  </button>
                </div>
                <div
                  id="errorMessage"
                  style="color: red; font-weight: bold"
                ></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <h5 class="card-header">Data</h5>
          <div class="table-responsive text-nowrap" id="div_kpi_table">
            <table id="myTable" class="table">
              <thead id="tableHead">
                <tr>
                  <!-- Render initial table headers dynamically -->
                  {% for header in headers %}
                  <th>{{ header }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody id="tableBody">
                <!-- Render initial table rows dynamically -->
                {% for row in rows %}
                <tr>
                  {% for key, value in row.items() %}
                  <td>{{ value }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->

  <!-- partial
</div> -->
</div>

<!-- Script to set Datetime to today -->
<script>
  var currentDate = new Date();
  var timezoneOffSet = currentDate.getTimezoneOffset();
  var formattedDate = currentDate.toISOString().substring(0, 16);
  document.getElementById("html5-datetime-local-input").value = formattedDate;
</script>

<!-- Script to parse drop-down value -->
<script>
  var subjectObject = {
    VTP: {
      KPI_IMS: ["15", "60"],
      KPI_HSS_EPS: ["5", "60"],
      KPI_HLR_MAP: ["5", "60"],
      KPI_Sub_HLR_HSS: ["5", "60"],
    },
    NCM: {
      KPI_SBC: ["5", "60"],
      KPI_HSS_EPS: ["5", "60"],
      KPI_HLR_MAP: ["5", "60"],
      KPI_Sub_HLR_HSS: ["5", "60"],
    },
    MYT: {
      KPI_IMS: ["15", "60"],
      KPI_SBC: ["5", "60"],
      KPI_HSS_EPS: ["5", "60"],
      KPI_HLR_MAP: ["5", "60"],
      KPI_Sub_HLR_HSS: ["5", "60"],
    },
  };
  window.onload = function () {
    var countrySelect = document.getElementById("countrySelect");
    var templateSelect = document.getElementById("templateSelect");
    var periodSelect = document.getElementById("periodSelect");
    for (var x in subjectObject) {
      countrySelect.options[countrySelect.options.length] = new Option(x, x);
    }
    countrySelect.onchange = function () {
      //empty tempalte- and period- dropdowns
      periodSelect.length = 1;
      templateSelect.length = 1;
      //display correct values
      for (var y in subjectObject[this.value]) {
        templateSelect.options[templateSelect.options.length] = new Option(
          y,
          y
        );
      }
    };
    templateSelect.onchange = function () {
      //empty Chapters dropdown
      periodSelect.length = 1;
      //display correct values
      var z = subjectObject[countrySelect.value][this.value];
      for (var i = 0; i < z.length; i++) {
        periodSelect.options[periodSelect.options.length] = new Option(
          this.value + "_" + z[i],
          this.value + "_" + z[i]
        );
      }
    };
  };
</script>

<!-- Script for Query OnClick button -->
<script>
  // Function to update the table
  function updateTable() {
    // Make AJAX request to Flask route for data update
    $("#errorMessage").text("");
    $.ajax({
      type: "POST",
      url: "/get_data",
      data: $("#filter").serialize(),
      success: function (response) {
        // Update table headers
        var newHeaders = "";
        if ($.fn.DataTable.isDataTable("#myTable")) {
          $("#myTable").DataTable().clear().destroy();
        }
        $.each(response.columns, function (index, value) {
          newHeaders += "<th>" + value + "</th>";
        });
        $("#tableHead").html("<tr>" + newHeaders + "</tr>");

        // Update table rows
        var newRows = "";
        $.each(response.data, function (index, row) {
          newRows += "<tr>";
          $.each(row, function (key, value) {
            newRows += "<td>" + value + "</td>";
          });
          newRows += "</tr>";
        });
        console.log(newRows);
        $("#tableBody").html(newRows);

        // Reinitialize DataTable
        $("#myTable").DataTable({
          searching: true, // Enable search functionality
          paging: true, // Enable pagination
          lengthMenu: [5, 10, 25],
        });
      },
      error: function (xhr, status, error) {
        // Handle AJAX errors here
        console.error("AJAX Error:", status, error);
        var table = $("#myTable").DataTable();
        // Clear existing data and headers when error occurs
        table.clear();
        table.columns().header().to$().empty();

        $("#errorMessage").text(
          "An error occurred while fetching data. Maybe template file doesn't exist. Please try again."
        );
        var tableOptions = table.settings().init();
        table.destroy();
        table = $("#myTable").DataTable(tableOptions);
      },
    });
    //return false;
  }

  $(document).ready(function () {
    // Initialize DataTable
    $("#myTable").DataTable({
      searching: true, // Enable search functionality
      paging: true, // Enable pagination
      lengthMenu: [5, 10, 25],
    });

    // Trigger table update on some event, e.g., button click
    $("#updateButton").on("click", function () {
      updateTable();
    });

    // Call the updateTable function once the document is ready
    updateTable();
  });
</script>
<style>
  .dataTables_length,
  .dataTables_info {
    margin-left: 20px; /* Adjust the left margin as needed */
  }
</style>
{% endblock %}
